@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <i>"We're here to help find the right job for you!"</i><br /><br />
    <i>Designed and Published by CSCI 540 Group 7 of USC Upstate</i><div class="row">

    <br />Looking for contact info?<br /><a href="/Home/Contact" class="btn btn-primary btn-sm">Contact &raquo;</a>
    <br />Need to ask a question?<br /><a href="/Messages/Index" class="btn btn-primary btn-sm">Send A Message &raquo;</a>
    </div>
</div>