@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <address>
        <strong><u>Address</u></strong><br />
        800 University Way<br />
        Spartanburg, SC 29303<br />
    </address>

    <address>
        <strong><u>Group 7</u></strong><br />
        Christopher Smith: smithc87@live.com<br />
        Brantley Jenkins: bcj@email.uscupstate.edu<br />
        Zenith Jackson: jacksovm@email.upstate.edu<br />
        Arnold Douangmala: douanga@email.uscupstate.edu<br />
        Cameron Lawter: lawtercb@email.uscupstate.edu
    </address>
</div>